@model IEnumerable<DatabaseEntities.timeperiod>

@{
    ViewBag.Title = "Index";
}

<h3>Pick a time period to approve hours</h3>


@using (Html.BeginForm("ApproverIndex", "Approver", new { groupID = ViewBag.GroupId }))
{
    <table>
        <tr>
            <td>
                @Html.DropDownList("periodEndDateString", new SelectList(Model.Distinct().ToList(), "periodEndDate", "periodEndDateString"))
            </td>
            <td>
                <input type="submit" , value="Submit" />
            </td>
        </tr>
    </table>
}




<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.periodEndDate)
        </td>
        <td>
            @Html.ActionLink("Select", "ApproverIndex", new { groupID = ViewBag.GroupId, periodEnddate = item.periodEndDate})
           
        </td>
    </tr>
}

</table>
