

@model   Cronus.ViewModels.TimePeriodViewModel


@{
    ViewBag.Title = "Index";
}

<h3>Pick a time period to approve hours</h3>


@using (Html.BeginForm("Approver_Index", "Approver", new { groupID = ViewBag.GroupId, periodEndDate = Model.periodEndDate}))
{
    <table>
        <tr>
            <td>
                @Html.DropDownListFor(n=>n.periodEndDate, Model.timePeriods, new { @class = "form-control", @style = "width: 300px;" })
            </td>
            <td>
                <input type="submit" , value="Submit", class="form-control", style = "width: 75px;" />
            </td>
        </tr>
    </table>
}




@*<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.periodEndDate)
        </td>
        <td>
            @Html.ActionLink("Select", "ApproverIndex", new { groupID = ViewBag.GroupId, periodEnddate = item.periodEndDate})
           
        </td>
    </tr>
}

</table>*@
