@model Cronus.ViewModels.FavoriteViewModel

@{
    ViewBag.Title = "Favorite";
}

<h2>@ViewBag.Message</h2>
<div>
    @using (Html.BeginForm("AddFavorite", "Home", FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    @Html.DropDownListFor(m => m.selectedActivityID, Model.ActivityNames, "--Select Activity--")
                </td>
                <td>
                    <input type="submit" , value="Add To Favorites" />
                </td>
            </tr>
        </table>
    }
</div>
<div>
    @using (Html.BeginForm("RemoveFavorite", "Home", FormMethod.Post))
    {
        @Html.ListBoxFor(m => m.RemoveFavorites, Model.UserFavorites)
        <input type="submit" , value="Remove From Favorites" />
    }

</div>



