@model Cronus.ViewModels.HomeViewModel

    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script language="javascript" type="text/javascript">
        function GetActivities(_projectID) {
            var selectedProj = _projectID.value;
            var ddlid = _projectID.id;
            var ddlstring = "#actddl" + ddlid;
            var procemessage = "<option value='0'> Please wait...</option>";
            $(ddlstring).html(procemessage).show();
           
            var url = "/Home/FillActivities";
            
            $.ajax({
                url: url,
                data: { projectID: selectedProj },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "<option value='0'>Select Activity</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                  
                    $(ddlstring).html(markup).show();
                    
                }
                ,
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

        }
    </script>
    

    @using (Html.BeginForm())
    {
        var ddlid = Guid.NewGuid().ToString();

        @Html.DropDownListFor(m => m.SelectedProjectID, Model.ProjectList, "--- Select Project ---", new { @id = @ddlid, @style = "width:200px;", @onchange = "javascript:GetActivities(this);" })
        var actddlid = "actddl" + @ddlid;
        <select id= @actddlid name=@actddlid style="width: 200px"></select>
        
        <br /><br />
    }