@using DatabaseEntities
@using Cronus.ViewModels
@model  HomeViewModel

@{
    ViewBag.Title = "Home Page";

}

<h2>Weekly view</h2>

@Scripts.Render("~/Scripts/index.js")

@section Scripts
    {
    <script type="text/javascript">
        function AddRow(_day) {
            console.log("Executing Add Script")
            $.ajax({
                async: false,
                url: '/Home/AddHourWorked'
            }).success(function (partialView) {
                var divID = "#hoursworkedrow" + _day.id.slice(-3);
                console.log(divID);
                $(divID).append(partialView);
            });
        }
    </script>
}

<h2 id="dateTitle" align="center"></h2>

<div class="col-lg-12">
    <div class="row">
        <div class="col-xs-4">
            <button type="button" width="100px" id="prevWeek" class="btn btn-default pull-left"><span class="glyphicon glyphicon-arrow-left"></span> Previous Week</button>

        </div>
        <div class="col-xs-4">
            <a href="/Home/Monthly" width="100px" class="btn btn-default"> Go to Monthly view</a>
        </div>
        <div class="col-xs-4">
            <button type="button" width="100px" id="nextWeek" class="btn btn-default pull-right">Next Week <span class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
    </div>
</div>

<br />
@*@using (Html.BeginForm("SubmitHours", "Home", FormMethod.Post))
    {*@

<div id="hoursworkedrowMon">
    @foreach (var entry in Model.HoursWorked)
    {
            if (entry.date.DayOfWeek == DayOfWeek.Monday)
            {
                @Html.Partial("_hoursworkedrow", entry);
            }
    }
    
    @Html.Partial("_hoursworkedrow", new hoursworked())
</div>
<div>
    <input type="button" id="addhourworkedMon" name="addhourworkedMon" onclick="AddRow(this)" value="Add Activity" />
</div>




@*<div id="hoursworkedrowTue">
    @Html.Partial("_hoursworkedrow")
</div>
<div>
    <input type="button" id="addhourworkedTue" name="addhourworkedTue" onclick="AddRow(this)" value="Add Activity" />
</div>*@

@*}*@


<button type="button" width="100px" id="save" class="btn btn-default pull-left">Save <span class="glyphicon glyphicon-check"></span></button>
<br />
<br />
<br />
<br />
<br />



