@using Cronus.Login
@model   Cronus.ViewModels.MonthlyViewModel



@{var empID = UserManager.User.employeeID;}


@*@Scripts.Render("~/Scripts/MonthlyClickDate.js")*@
@Scripts.Render("~/Scripts/Monthly.js")







<div style="padding-top: 25px">

    <div class="col-xs-9">
        <div id="calendar"></div>
    </div>


    @*<div class="col-md-push-3">
        <table class="table table-striped col-md-push-3">
            <thead>
                <tr>
                    <th class="col-md-push-3">Weekly Hours</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-push-3" id="week1">0 Hours</td>
                </tr>
                <tr>
                    <td class="col-md-push-3" id="week2">0 Hours</td>
                </tr>
                <tr>
                    <td class="col-md-push-3" id="week3">0 Hours</td>
                </tr>
                <tr>
                    <td class="col-md-push-3" id="week4">0 Hours</td>
                </tr>
                <tr>
                    <td class="col-md-push-3" id="week5">0 Hours</td>
                </tr>
                <tr>
                    <td class="col-md-push-3" id="week6">0 Hours</td>
                </tr>
            </tbody>
        </table>
    </div>*@

    <div class="col-sm-push-3">
        <br />
        <br />
        <div> <h4><b>Weekly Hours</b></h4></div>

        <br />
        <div id="week1" style="padding-bottom: 75px">
           
        </div>

        <div id="week2" style="padding-bottom: 75px">
            
        </div>

        <div id="week3" style="padding-bottom: 75px">
            
        </div>

        <div id="week4"style="padding-bottom: 75px">
          
        </div>

        <div id="week5" style="padding-bottom: 75px">
            
        </div>

        <div id="week6" style="padding-bottom: 125px">

        </div>
    </div>


</div>


<div id="fullCalModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title"></h4>
            </div>


            <div id="modalBody" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>

</div>